@charset "UTF-8";

body {
	background-color: rgb(227, 247, 248);
	padding-left: 30px;
	padding-right: 30px;
}

h1 {
	border: 2px solid black;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}